    <div class="container login-form col-lg-4">
        <form action="/registerngo" method="POST">
        {{!-- <div class="logo">
            <img class="mb-4" src="/images/aura-logo.png" alt="" width="150px">
        </div> --}}
            <h1 class="h3 mb-3 fw-normal">Cadastrar ONG</h1>
            <div class="form-row">
                <div class="form-group">
              <label for="name">Nome da ONG</label>
              <input type="text" class="form-control" name="name" placeholder="Nome da ONG" required>
            </div>
            <br/>
            <div class="form-group col-md-6">
              <label for="cnpj">CNPJ</label>
              <input type="text" class="form-control" name="cnpj" placeholder="CNPJ" required>
            </div>
            <br/>
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <br/>
              <div class="form-group col-md-6">
                <label for="password">Senha</label>
                <input type="password" class="form-control" name="password" placeholder="*****" required>
              </div>
              <br/>
              <div class="form-group col-md-6">
                <label for="confirmpassword">Confirme sua Senha</label>
                <input type="password" class="form-control" name="confirmpassword" placeholder="*****" required>
              </div>
            </div>
            <br/>
            <div class="form-group">
              <label for="addressstreet">Rua/Avenida</label>
              <input type="text" class="form-control" name="addressstreet" placeholder="Rua/Avenida" required>
            </div>
            <br/>
            <div class="form-group">
              <label for="addressnumber">Número</label>
              <input type="text" class="form-control" name="addressnumber" placeholder="Número" required>
            </div>
            <br/>
            <div class="form-group">
              <label for="addresscomplement">Complemento</label>
              <input type="text" class="form-control" name="address2" placeholder="Apartamento, bloco" required>
            </div>
            <br/>
            <div class="form-group">
              <label for="zipcode">CEP</label>
              <input type="text" class="form-control" name="zipcode" placeholder="CEP" required>
            </div>
            <br/>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="city">Cidade</label>
                <input type="text" class="form-control" name="city" placeholder="Cidade" required>
              </div>
              <br/>
              <div class="form-group col-md-4">
                <label for="state">Estado</label>
                <select name="state" class="form-control" required>
                  <option selected>Escolha...</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
              </div>
              <br/>
              <div class="form-group col-md-4">
                <label for="phonenumber">Número de telefone</label>
                <input type="text" class="form-control" id="phonenumber" required>
              </div>
              <br/>
            </div>
            {{!-- <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                  Receber atualizações via e-mail.
                </label>
              </div>
            </div>
            <br> --}}
            <center><button type="submit" class="btn btn-secondary">Fazer cadastro</button></center>
          </form>
    </div>