<div class="col-lg-4"><h1>Aura Social</h1>
    <nav>
        <ul>
            <li><a href=""><i class="bi bi-search"></i> Pesquisar</a></li>
            <li><a href="/home"><i class="bi bi-house"></i> Home</a></li>
            <li><a href="/fazerobem"><i class="bi bi-clipboard-heart"></i> Fazer o Bem</a></li>
            <li><a href="/notificacoes"><i class="bi bi-bell"></i> Notificações</a></li>
            <li><a href="/perfil"><i class="bi bi-person-circle"></i> Perfil</a></li>
        </ul>
    </nav>

    <a href=""><i class="bi bi-gear"></i> Configurações</a>
</div>
