<%- include("partials/header.ejs") %>

            <%- include("partials/menu.ejs") %>

            <div class="board">
                <h1>Encontre um Trabalho Voluntário</h1>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle no-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                      Localização <i class="bi bi-filter"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                    </ul>
                  </div>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle no-arrow" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                      Categoria <i class="bi bi-filter"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                    </ul>
                  </div>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle no-arrow" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                      Causa da ONG <i class="bi bi-filter"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Default checkbox</label></li>
                    </ul>
                  </div>

                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary no-arrow" data-bs-display="static">
                      Filtrar
                    </button>
                  </div>


                  <!--JOBS-->
                  <div class="jobs">
                  <h1>Mural de Trabalhos Voluntários</h1>

                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                    <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Título do Trabalho</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                      <a href="#" class="btn btn-secondary">Ver mais</a>
                    </div>
                        </div>
                  </div>

                  <div class="col">
                  <div class="card">
                    <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Título do Trabalho</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                      <a href="#" class="btn btn-secondary">Ver mais</a>
                    </div>
                  </div>
                  </div>


                  <div class="col">
                    <div class="card">
                      <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título do Trabalho</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                        <a href="#" class="btn btn-secondary">Ver mais</a>
                      </div>
                    </div>
                    </div>


                    <div class="col">
                    <div class="card">
                      <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título do Trabalho</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                        <a href="#" class="btn btn-secondary">Ver mais</a>
                      </div>
                    </div>
                    </div>


                    <div class="col">
                    <div class="card">
                      <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título do Trabalho</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                        <a href="#" class="btn btn-secondary">Ver mais</a>
                      </div>
                    </div>
                    </div>

                  </div>
                    </div>  
                </div>
            </div>

<%- include("partials/footer.ejs") %>