<%- include("partials/header.ejs") %>

            <%- include("partials/menu.ejs") %>

                <div class="notifications">
                    <div class="notification">
                        <div class="div-notification-pic">
                            <img src="/images/profile-example.png" height="40px">
                        </div>
                        <div class="div-notification-text">
                            <p><strong>Rebeca Cordeiro</strong> fez alguma ação.</p>
                        </div>
                        <hr>
                    </div>

                    <div class="notification">
                        <div class="div-notification-pic">
                            <img src="/images/profile-example.png" height="40px">
                        </div>
                        <div class="div-notification-text">
                            <p><strong>Rebeca Cordeiro</strong> fez alguma ação.</p>
                        </div>
                        <hr>
                    </div>

                    <div class="notification">
                        <div class="div-notification-pic">
                            <img src="/images/profile-example.png" height="40px">
                        </div>
                        <div class="div-notification-text">
                            <p><strong>Rebeca Cordeiro</strong> fez alguma ação.</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>

<%- include("partials/footer.ejs") %>