<%- include("partials/header.ejs") %>

            <%- include("partials/menu.ejs") %>

                <div class="profile">
                    <div class="div-profile-pic">
                        <img class="profile-pic" src="/images/profile-example.png" height="100px">
                    </div>
                    <div class="div-profile-text">
                        <h1>Rebeca Cordeiro</h1>
                        <h3>NÍVEL: 1</h3>
                        <p>Mini briografia do usuário.</p>
                    </div>

                    <div class="div-profile-jobs">
                        <hr>
                        <h2>
                            Trabalhos Feitos
                        </h2>
                    </div>
    
                    <div class="div-profile-stamps">
                        <hr>
                        <h2>
                            Selos Conquistados
                        </h2>
                    </div>
                </div>
            </div>

        </div>

<%- include("partials/footer.ejs") %>