<div class="board">
                <h1>Encontre um Trabalho Voluntário</h1>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Localização
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                  </div>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                      Categoria
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                  </div>
                  
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                      Causa da ONG
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                      <li><input class="form-check-input drop" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Default checkbox
                        </label></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                      <li><a class="dropdown-item" href="#">Menu item</a></li>
                    </ul>
                  </div>


                  <!--JOBS-->
                  <div class="jobs">
                  <h1>Mural de Trabalhos Voluntários</h1>

                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                    <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Título do Trabalho</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                      <a href="#" class="btn btn-secondary">Ver mais</a>
                    </div>
                        </div>
                  </div>

                  <div class="col">
                  <div class="card">
                    <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Título do Trabalho</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                      <a href="#" class="btn btn-secondary">Ver mais</a>
                    </div>
                  </div>
                  </div>


                  <div class="col">
                    <div class="card">
                      <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título do Trabalho</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                        <a href="#" class="btn btn-secondary">Ver mais</a>
                      </div>
                    </div>
                  </div>


                    <div class="col">
                    <div class="card">
                      <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Título do Trabalho</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                        <a href="#" class="btn btn-secondary">Ver mais</a>
                      </div>
                    </div>
                    </div>


                    <div class="col">
                      <div class="card">
                        <img src="images/job-img-example.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Título do Trabalho</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique sapien pharetra neque euismod, non tristique dolor tristique.</p>
                          <a href="#" class="btn btn-secondary">Ver mais</a>
                        </div>
                      </div>
                    </div>

            </div>